{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	h4, h3, h5, p{
		text-align: right;
	}
	h4{
		color: #4f4f4f;
	}
</style>
<div class="row" style="padding-top: 100px;">
	<div class="col-1"></div>
	<div class="col-3">
		<img src="../static/shalom.jpeg">
	</div>
	<div class="col-2"></div>
	<div class="col-5">
		<h3>שלום דוד</h3>
		<h4>מאסטר שלום דוד בעל חגורה שחורה דאן 4, הינו מאמן מוסמך בעל רקורד עשיר בענף. מאמן נבחרת ישראל לשעבר, אלוף ישראל מספר פעמים ומקום חמישי באליפות אירופה. מקצוען באימון ילדים, מאמן במבשרת כ-19 שנה.</h4>
		<br>
		<h5>מספר טל': 052-4627274</h5>
		<h5>מספר בבית: 02-5349766</h5>
	</div>
</div>
<div style="padding-top: 110px;"></div>
<footer style="background-color: #383838; padding-top: 50px; padding-bottom: 50px;">
  <p style="color: white; padding-right: 200px;">טל': 052-4627274</p>
  <a href=""></a>
</footer>
{% endblock %}