{% extends 'base.html' %}
{% block content %}
<div class="parallax" style="margin-bottom: 100px;"><center style="padding-top: 40px; color: white;"><h1 style="font-size: 100px;">מועדון טאקוונדו מבשרת</h1></center></div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
<center style="" >
	<h4 style=" text-align: right;">
	טאקוונדו - אומנות לחימה קוריאנית, ספורט אולימפי והגנה עצמית. אנו שמים דגש רב על בניית הביטחון העצמי של התלמידים, במקביל לפיתוח יכולות הריכוז שלהם וכושר ההתמדה. התלמידים משקיעים מזמנם וממרצם באימונים במועדון ובבית לקראת תחרויות, לשם ההתקדמות האישית והעלייה בדרגה. מתאים לבנים ולבנות
</h4>
<!--  -->
<style type="text/css">
	.table_border {
  border-left: 2px solid black;}
</style>
<img style="padding-top: 100px;" src="../static/images/WhatsApp Image 2020-01-23 at 12.58.23.jpeg">
<!--  -->
<hr style="margin-top: 120px;">
<table style="margin-top:100px;">
	<caption style="padding-top: .75rem;
padding-bottom: .75rem;
color: #000000;
text-align: center;
caption-side: top; font-weight:bold; font-size: 30px;">לוח זמנים</caption>
	<tr style="background-color: lightgray;">
	<th>מחיר</th>
	<th>שעות</th>
	<th>ימים</th>
	<th>כיתות</th>
	</tr>
	<tr  style="background-color: white;">
		<td>210 ₪</td>
		<td>16:15-17:00</td>
		<td>שני, חמישי</td>
		<td>'גן-א</td>
	</tr>
	<tr style="background-color: lightgray;">
		<td>210 ₪</td>
		<td>17:00-17:45</td>
		<td>שני, חמישי</td>
		<td>'גן-א</td>
	</tr>
	<tr  style="background-color: white;">
		<td>210 ₪</td>
		<td>17:45-18:30</td>
		<td>שני, חמישי</td>
		<td>'ב'-ג</td>
	</tr>
	<tr style="background-color: lightgray;">
		<td>230 ₪</td>
		<td>18:30-19:30</td>
		<td>שני, חמישי</td>
		<td>'ד'-ו</td>
	</tr>
	<tr  style="background-color: white;">
		<td>240 ₪</td>
		<td>19:30-20:45</td>
		<td>שני, חמישי</td>
		<td>'ז'-יב</td>
	</tr>
	<tr style="background-color: lightgray;">
		<td>210 ₪</td>
		<td>17:00-17:45</td>
		<td>ראשון, רביעי</td>
		<td>'גן-א</td>
	</tr>
	<tr  style="background-color: white;">
		<td>210 ₪</td>
		<td>17:45-18:30</td>
		<td>ראשון, רביעי</td>
		<td>'ב'-ג</td>
	</tr>
	<tr style="background-color: lightgray;">
		<td>230 ₪</td>
		<td>18:30-19:30</td>
		<td>ראשון, רביעי</td>
		<td>'ד'-ו</td>
	</tr>
	<tr  style="background-color: white;">
		<td>170 ₪</td>
		<td></td>
		<td>פעם בשבוע</td>
		<td>'גן-ג</td>
	</tr>
	<tr style="background-color: lightgray;">
		<td>180 ₪</td>
		<td>19:45-20:45</td>
		<td>רביעי</td>
		<td>מבוגרים</td>
	</tr>
	<tr  style="background-color: white;">
		<td></td>
		<td>19:30-20:30</td>
		<td>נבחרת מועדון</td>
		<td>ראשון</td>
	</tr>
</table>

<h4 style=" text-align: right; padding-top: 100px;">
	תשלום נוסף בנפרד עבור ביטוח שנתי, עבור מועדון טאקוונדו על סך ₪ 150 למתחרים בתחרויות חיצוניות וחגורות שחורות
</h4>
<h4 style=" text-align: right;">
נבחרת מתקדמים + הכנה לתחרויות 3 אימונים בשּבּוּע ₪ 325 
<br>
נבחרת מתקדמים + הכנה לתחרויות 4 אימונים בשבוע ₪ 350
<br>
חוג טאקוונדו מתקיים עד סוף חודש יולי
</h4>
</center>
</div>
</div>
<div style="padding-top: 110px;"></div>
<footer style="background-color: #383838; padding-top: 50px; padding-bottom: 50px; text-align: right;">
  <p style="color: white; padding-right: 200px; display: inline;">טל': 052-4627274</p>
  <p style="color: white; padding-right: 700px; display: inline;">כתובת: רקפת 2, מבשרת ציון</p>
  <a href=""></a>
</footer>
{% endblock %}